# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Test with PyTest, coverage with Coveralls

on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - edited
      - reopened
    branches:
      - dev/staging
    paths:
      - todo_or_not
      - tests
  push:
    branches:
      - dev/staging
jobs:
  test_suite:
    name: Run test suite steps
    runs-on: ubuntu-latest
    environment: testing
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.11.7
        uses: actions/setup-python@v3
        with:
          python-version: "3.11.7"
      - name: Generate GH Token for todoon app
        id: generate-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: 853479
          private-key: ${{ secrets.TODOON_CLIENT_PEM }}
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true
      - name: Install dependencies
        run: poetry install --no-interaction --with=testing
      - name: Run PyTest with coverage
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
          DEBUG: True
        run: |
          source .venv/bin/activate
          pytest --cov-report lcov:cov.lcov --cov=todo_or_not -v
      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@v2.2.3
        with:
          file: cov.lcov

